﻿
@{
    Layout = null;
}
@model LoginAsp.Areas.Admin.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/assest/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/assest/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(false,"error")
                    <form>
                        <div class="form-group">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model=> model.UserName, new { @class ="form-control", @autofocus= "autofocus"})
                                <label for="inputEmail">Email address</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                @Html.PasswordFor(model => model.Password ,new { @class = "form-control" })
                                <label for="inputPassword">Password</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.RememberMe)
                                    Remember Password
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" href="index.html">Login</button>
                    </form>
                }

                <div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/assest/vendor/jquery/jquery.min.js"></script>
    <script src="~/assest/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/assest/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
